* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

.btn {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: black;
    width: fit-content;
    color: white;
    text-decoration: none;
}

.thick-font {
    font-weight: bolder;
}